.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle at top right, var(--secondary-color), transparent 40%),
                radial-gradient(circle at bottom left, var(--accent-color), transparent 40%);
}

.hero-content {
    max-width: 600px;
    background: var(--glass);
    padding: 3rem 6px 3rem;
    border-radius: 80px;
    backdrop-filter: blur(10px);
    margin: 0px 6px 0px 6px;
}