h1, h2, h3 {
color: var(--primary-color);
margin-bottom: 1rem;
}

h1 {
font-size: 2.5rem;
font-weight: 700;
padding-bottom: 2rem;
}

h2 {
font-size: 2rem;
border-bottom: 2px solid var(--secondary-color);
display: inline-block;
padding-bottom: 1rem;
}

p {
margin-bottom: 0.8rem;
font-size: 1.1rem;
line-height: 1.3;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
}